name: manual release

on:
  push:
    tags:
      - '*'

jobs:
  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cc: zig cc -target x86_64-linux-gnu.2.3
          - os: windows-latest
            cc: gcc
            suffix: .exe
          - os: macos-latest
            cc: clang -mmacosx-version-min=10.13 -arch x86_64
            suffix: -darwin
            strip: -x
    permissions:
      contents: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Setup Zig
        if: runner.os == 'Linux'
        uses: Rul1an/zig-cross-compile-action@v1
        with:
          version: 0.13.0
          target: x86_64-linux-gnu.2.3
      - name: Build
        env:
          CC: ${{ matrix.cc }}
        run: |
          make
      - name: Move
        if: runner.os == 'macOS'
        run: |
          mv fliprun fliprun${{ matrix.suffix }}
      - name: Strip
        run: |
          strip ${{ matrix.strip }} fliprun${{ matrix.suffix }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            fliprun${{ matrix.suffix }}